In [197]:
!pip install bs4
!pip install requests
!pip install html5lib

Requirement already satisfied: bs4 in c:\users\sanj\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\sanj\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\sanj\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\sanj\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sanj\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sanj\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sanj\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sanj\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: html5lib in c:\users\sanj\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\sanj\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\sanj\anaconda3\lib\site-packages (from html5lib) (1.15.0)

In [198]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [199]:
#Write a python program to scrap book name, author name, genre and book review of any 5 books from
#www.bookpage.com’

In [221]:
webpage=requests.get("https://www.bookpage.com")

In [222]:
webpage

In [223]:
#webpage.content

In [224]:
soup1=BeautifulSoup(webpage.content,'html.parser')
#soup1

In [225]:
#print(soup1.prettify())

In [229]:
#Book_Name= soup.find('div',class_='row-fluid')

In [230]:
Book_Name=[]
for j in soup1.find_all('h4',class_='italic'):
    string1=j.text
    Book_Name.append(string1)
for each in Book_Name:
    print(each)

Of magic and mayhem


Leah Johnson


 ★ Festival Days


Listen


 ★ Rise to the Sun


Filthy Animals

In [231]:
Author_Name=[]
for j in soup1.find_all('h4',class_='sans'):
    string1=j.text
    Author_Name.append(string1)
for each1 in Author_Name:
    print(each1)

In [232]:
Book_cover=[]
for j in soup1.find_all('div',class_="article-body"):
    string1=j.text
    Book_cover.append(string1)
for each in Book_cover:
    print(each)

In [6]:
##New Question
##Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and AverageRating

In [26]:
page=requests.get('https://www.amazon.in/s?k=mobile+phones&rh=p_36%3A-2000000&qid=1624124505&rnid=1318502031&ref=sr_nr_p_36_5')

In [48]:
#page

In [49]:
#page.content

In [50]:
soup=BeautifulSoup(page.content,'html.parser')
#soup

In [51]:
#print(soup.prettify())

In [233]:
Name=[]
prices=[]
for i in soup.find_all('span',class_= "a-size-medium a-color-base a-text-normal"):
    string=i.text
    Name.append(string)
for each in Name:
    print(each)

In [ ]:
#some problem in extracting data from Amazon

In [93]:
##Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [128]:
url=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [129]:
url

In [137]:
#url.content

In [136]:
soup2=BeautifulSoup(url.content,'html.parser')
#soup2

In [135]:
#soup2.prettify

In [134]:
Header_Tags=[]
for i in soup2.find_all(["h1","h2","h3","h4","h5","h6"]):
    string2=i.text
    Header_Tags.append(string2)
for each in Header_Tags:
    print(each)

Main Page
From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Variants


Views


More


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

In [112]:
##Write a python program to extract information about the local weather from the National Weather Service 
#website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day 
#extended forecast display for the city. The data should include period, short description, temperature and 
#description.

In [138]:
url_new=("https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YM8mAEzhXIU")

In [139]:
url_new

'https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YM8mAEzhXIU'

In [140]:
webpage1=requests.get(url_new)

In [141]:
webpage1

In [144]:
#webpage1.content

In [146]:
soup3=BeautifulSoup(webpage1.content,'html.parser')
#soup3

In [128]:
#soup3.prettify()

In [147]:
seven_days=[]
for i in soup3.find_all('div','col-sm-2 forecast-label'):
    string3=i.text
    seven_days.append(string3)
for each in seven_days:
    print(each)

Today
Tonight
Saturday
Saturday Night
Sunday
Sunday Night
Monday
Monday Night
Tuesday
Tuesday Night
Wednesday
Wednesday Night
Thursday

In [149]:
Weather_Forecast=[]
for j in soup3.find_all('div',class_='col-sm-10 forecast-text'):
    string3=j.text
    Weather_Forecast.append(string3)
for each in Weather_Forecast:
    print(each)

Cloudy through mid morning, then gradual clearing, with a high near 68. Breezy, with a west wind 10 to 15 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 32 mph.
Increasing clouds, with a low around 57. Breezy, with a west wind 21 to 26 mph decreasing to 11 to 16 mph after midnight. Winds could gust as high as 33 mph.
Mostly cloudy through mid morning, then gradual clearing, with a high near 72. Breezy, with a west southwest wind 7 to 12 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 32 mph.
Increasing clouds, with a low around 58. Breezy, with a west southwest wind 21 to 26 mph decreasing to 11 to 16 mph in the evening. Winds could gust as high as 34 mph.
Mostly sunny, with a high near 70. Breezy, with a west southwest wind 11 to 16 mph increasing to 23 to 28 mph in the afternoon. Winds could gust as high as 36 mph.
Mostly cloudy, with a low around 58. Breezy.
Mostly sunny, with a high near 70.
Partly cloudy, with a low around 58.
Mostly sunny, with a high near 71.
Partly cloudy, with a low around 58.
Mostly sunny, with a high near 72.
Mostly cloudy, with a low around 59.
Mostly sunny, with a high near 71.

In [151]:
Temperature=[]
for k in soup3.find_all('p',class_='temp'):
    string3=k.text
    Temperature.append(string3)
for each in Temperature:
    print(each)

High: 68 °F
Low: 57 °F
High: 72 °F
Low: 58 °F
High: 70 °F
Low: 58 °F
High: 70 °F
Low: 58 °F
High: 71 °F

In [150]:
df=pd.DataFrame({'Days':seven_days[0:9],'Weather':Weather_Forecast[0:9],'Temp':Temperature})

In [152]:
df

,Days,Weather,Temp
0,Today,"Cloudy through mid morning, then gradual clear...",High: 68 °F
1,Tonight,"Increasing clouds, with a low around 57. Breez...",Low: 57 °F
2,Saturday,"Mostly cloudy through mid morning, then gradua...",High: 72 °F
3,Saturday Night,"Increasing clouds, with a low around 58. Breez...",Low: 58 °F
4,Sunday,"Mostly sunny, with a high near 70. Breezy, wit...",High: 70 °F
5,Sunday Night,"Mostly cloudy, with a low around 58. Breezy.",Low: 58 °F
6,Monday,"Mostly sunny, with a high near 70.",High: 70 °F
7,Monday Night,"Partly cloudy, with a low around 58.",Low: 58 °F
8,Tuesday,"Mostly sunny, with a high near 71.",High: 71 °F

In [160]:
###Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of 
#release) and make data frame

In [35]:
New_url=('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
Npage=requests.get(New_url)

In [36]:
Npage

In [38]:
#Npage.content

In [41]:
soup4=BeautifulSoup(Npage.content,'html.parser')
#soup4

In [43]:
#soup4.prettify()

In [60]:
soup4.title.text

'IMDb "Top 100"\n(Sorted by IMDb Rating Descending) - IMDb'

In [153]:
movies=soup4.find_all('div',{'class':'lister-item mode-advanced'})
#movies[1]

In [87]:
movie_name=[]
rating=[]

for store in movies:
    name=store.h3.a.text
    movie_name.append(name) 
for each in movie_name:
    print (each)

The Shawshank Redemption
The Godfather
The Dark Knight
The Godfather: Part II
12 Angry Men
The Lord of the Rings: The Return of the King
Pulp Fiction
Schindler's List
Inception
Fight Club
The Lord of the Rings: The Fellowship of the Ring
Forrest Gump
Il buono, il brutto, il cattivo
The Lord of the Rings: The Two Towers
The Matrix
Goodfellas
Star Wars: Episode V - The Empire Strikes Back
One Flew Over the Cuckoo's Nest
Gisaengchung
Interstellar
Cidade de Deus
Sen to Chihiro no kamikakushi
Saving Private Ryan
The Green Mile
La vita è bella
Se7en
The Silence of the Lambs
Star Wars
Seppuku
Pather Panchali
Shichinin no samurai
It's a Wonderful Life
Whiplash
The Intouchables
The Prestige
The Departed
The Pianist
Gladiator
American History X
The Usual Suspects
Léon
The Lion King
Terminator 2: Judgment Day
Nuovo Cinema Paradiso
Hotaru no haka
Back to the Future
Once Upon a Time in the West
Psycho
Rear Window
Casablanca

In [76]:
len(movie_name)

50

In [114]:
rating=[]
for store in movies:
    rate=store.find('div',class_='inline-block ratings-imdb-rating')['data-value']
    rating.append(rate)
for each in rating:
    print(each)

9.3
9.2
9
9
9
8.9
8.9
8.9
8.8
8.8
8.8
8.8
8.8
8.7
8.7
8.7
8.7
8.7
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5

In [115]:
len(rating)

50

In [86]:
Years_of_Release=[]
for i in soup4.find_all('span',class_='lister-item-year text-muted unbold'):
    string4=i.text
    Years_of_Release.append(string4)
for each in Years_of_Release:
    print(each)

(1994)
(1972)
(2008)
(1974)
(1957)
(2003)
(1994)
(1993)
(2010)
(1999)
(2001)
(1994)
(1966)
(2002)
(1999)
(1990)
(1980)
(1975)
(2019)
(2014)
(2002)
(2001)
(1998)
(1999)
(1997)
(1995)
(1991)
(1977)
(1962)
(1955)
(1954)
(1946)
(2014)
(2011)
(2006)
(2006)
(2002)
(2000)
(1998)
(1995)
(1994)
(1994)
(1991)
(1988)
(1988)
(1985)
(1968)
(1960)
(1954)
(1942)

In [154]:
df=pd.DataFrame({'Release Year': Years_of_Release,'Ratings_of_Movie':rating,'Name_of_Movie':movie_name})

In [155]:
df

,Release Year,Ratings_of_Movie,Name_of_Movie
0,(1994),9.3,The Shawshank Redemption
1,(1972),9.2,The Godfather
2,(2008),9,The Dark Knight
3,(1974),9,The Godfather: Part II
4,(1957),9,12 Angry Men
5,(2003),8.9,The Lord of the Rings: The Return of the King
6,(1994),8.9,Pulp Fiction
7,(1993),8.9,Schindler's List
8,(2010),8.8,Inception
9,(1999),8.8,Fight Club
10,(2001),8.8,The Lord of the Rings: The Fellowship of the Ring
11,(1994),8.8,Forrest Gump
12,(1966),8.8,"Il buono, il brutto, il cattivo"
13,(2002),8.7,The Lord of the Rings: The Two Towers
14,(1999),8.7,The Matrix
15,(1990),8.7,Goodfellas
16,(1980),8.7,Star Wars: Episode V - The Empire Strikes Back
17,(1975),8.7,One Flew Over the Cuckoo's Nest
18,(2019),8.6,Gisaengchung
19,(2014),8.6,Interstellar
20,(2002),8.6,Cidade de Deus
21,(2001),8.6,Sen to Chihiro no kamikakushi
22,(1998),8.6,Saving Private Ryan
23,(1999),8.6,The Green Mile
24,(1997),8.6,La vita è bella
25,(1995),8.6,Se7en
26,(1991),8.6,The Silence of the Lambs
27,(1977),8.6,Star Wars
28,(1962),8.6,Seppuku
29,(1955),8.6,Pather Panchali
30,(1954),8.6,Shichinin no samurai
31,(1946),8.6,It's a Wonderful Life
32,(2014),8.5,Whiplash
33,(2011),8.5,The Intouchables
34,(2006),8.5,The Prestige
35,(2006),8.5,The Departed
36,(2002),8.5,The Pianist
37,(2000),8.5,Gladiator
38,(1998),8.5,American History X
39,(1995),8.5,The Usual Suspects
40,(1994),8.5,Léon
41,(1994),8.5,The Lion King
42,(1991),8.5,Terminator 2: Judgment Day
43,(1988),8.5,Nuovo Cinema Paradiso
44,(1988),8.5,Hotaru no haka
45,(1985),8.5,Back to the Future
46,(1968),8.5,Once Upon a Time in the West
47,(1960),8.5,Psycho
48,(1954),8.5,Rear Window
49,(1942),8.5,Casablanca

In [156]:
# Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, 
#company name, CTC, and apply date?

In [158]:
page=requests.get("https://internshala.com/fresher-jobs")

In [159]:
page

In [161]:
#page.content

In [163]:
soup=BeautifulSoup(page.content)
#soup

In [165]:
#print(soup.prettify())

In [166]:
first_title=soup.find('div',class_='heading_4_5 profile')
first_title

<div class="heading_4_5 profile">
<a href="/fresher-job/detail/remote-associate-ui-ux-designer-fresher-jobs-at-ravgins-international-private-limited-wobbai1624613033">Associate UI/UX Designer</a> </div>

In [167]:
first_title.text

'\nAssociate UI/UX Designer '

In [168]:
first_title.text.replace('\n','')

'Associate UI/UX Designer '

In [169]:
first_company=soup.find('a',class_="link_display_like_text")

In [170]:
first_company.text

'\n                        RavGins International Private Limited (Wobb.ai)                    '

In [171]:
first_company.text.replace('\n','')

'                        RavGins International Private Limited (Wobb.ai)                    '

In [172]:
titles=soup.find_all('div',class_="heading_4_5 profile")

In [174]:
job_titles=[]
for i in titles:
    job_titles.append(i.text)
job_titles

['\nAssociate UI/UX Designer ',
 '\nBusiness Development Associate (Sales) ',
 '\nReceptionist And Billing Manager ',
 '\nRecruiter ',
 '\nNode.js Backend Developer (AWS/GCP/API) ',
 '\nBusiness Development Executive ',
 '\nSoftware Developer ',
 '\nManagement Trainee - Assistant Category Manager ',
 '\nAccount Executive - Field Sales ',
 '\nSoftware Engineer ',
 '\nAssociate Software Developer ',
 '\nSocial Media Strategist And Copywriter ',
 '\nLevel 1 Technical Support Engineer ',
 '\nAssociate Software Developer ',
 '\nAccounting Assistant ',
 '\nSoftware Engineer ',
 '\nBusiness Development Manager ',
 '\nBusiness Development Executive ',
 '\nProduct Developer - Mathematics ',
 '\nSales Development Representative ',
 '\nFull Stack Engineer ',
 '\nJunior ReactJS Developer ',
 '\nMarketing Manager ',
 '\nProduct Marketing Associate ',
 '\nAdministration Associate ',
 '\nAssociate Software Developer ',
 '\nProject Coordinator ',
 '\nWeb Developer ',
 '\nSoftware Engineer Trainee ',
 '\nBusiness Development Specialist (Sales & Marketing) ',
 '\nBusiness Development Executive ',
 '\nAssociate Front End Developer ',
 '\nCorporate Sales Executive ',
 '\nAssociate Software Developer (Full-Stack - React And Node) ',
 '\nCustomer Relationship Specialist ',
 '\nAssociate Editor Engagement ',
 '\nManagement Consultant Associate ',
 '\nWeb Analytics Developer ',
 '\nJunior Social Media Marketing Manager ',
 '\nJunior Social Media Marketing Associate ']

In [176]:
companies=soup.find_all('a',class_="link_display_like_text")
#companies

In [177]:
company_names=[]
for i in companies:
    company_names.append(i.text.strip())
company_names

['RavGins International Private Limited (Wobb.ai)',
 'Global Sun',
 'Touchstone Partners',
 'Radish Consultants Private Limited',
 'Labellerr By Tensor Matics Private Limited',
 'UFaber Edutech',
 'Aptigenz Solutions Private Limited',
 'Noise',
 'RoaDo',
 'CrewKarma',
 'IQGateway',
 'Internshala',
 'Mithi Software Technologies Private Limited',
 'White Blink',
 'Wono Inc',
 'Wono Inc',
 'Wono Inc',
 'Emertxe Information Technologies',
 'Open Door Education',
 'Content Beta',
 'Softway Solutions Private Limited',
 'DeepThought Edutech Ventures Private Limited',
 'Saltoro Coffee Roasters',
 'WebMOBI',
 'Global Sun',
 'Medico Healthcare Services & Technologies',
 'Edupixels',
 'Manufac Analytics Private Limited',
 'Swabhav Techlabs',
 'Claraeon Learning Private Limited',
 'Picostone',
 'AIMonk Labs Technology Limited',
 '369 Zoss Waters',
 'SleekSky LLC',
 'InPhase Power Technologies',
 'Cactus Communications Private Limited',
 'StrategyCo.Global',
 'DataVinci Private Limited',
 'The Test Tribe',
 'Glu Studios']

In [179]:
locations=soup.find_all('p',id='location_names')
#locations

In [180]:
locations_list=[]
for i in locations:
    locations_list.append(i.text.replace("\n",""))
locations_list

['Remote',
 'Remote',
 'Mumbai ',
 'Secunderabad, Hyderabad ',
 'Chandigarh, Mohali ',
 'Remote',
 'Bangalore ',
 'Gurgaon ',
 'Bangalore, Hyderabad ',
 'Remote',
 'Remote',
 'Gurgaon ',
 'Pune ',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 'Bangalore ',
 'Bangalore ',
 'Remote',
 'Remote',
 'Remote',
 'Delhi, Noida ',
 'Remote',
 'Remote',
 'Hyderabad ',
 'Remote',
 'Gurgaon, Pune ',
 'Mumbai ',
 'Hyderabad ',
 'Mumbai ',
 'Bangalore ',
 'Remote',
 'Ahmedabad ',
 'Bangalore ',
 'Remote',
 'Remote',
 'Remote',
 'Navi Mumbai, Mumbai ',
 'Delhi ']

In [182]:
print(len(job_titles),len(company_names),len(locations_list))

40 40 40

In [190]:
CTC = soup.find_all('div',class_="item_body")

In [191]:
CTC_provided=[]
for i in CTC:
    CTC_provided.append(i.text.strip())
CTC_provided

['Starts\xa0Immediately',
 '3 - 4 LPA',
 "25 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4.8 LPA',
 "25 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 7 LPA',
 "25 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "25 Jul' 21",
 'Starts\xa0Immediately',
 '7 - 10 LPA',
 "25 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "25 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '6 - 10 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3.2 - 4 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3.6 - 10 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.8 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.4 - 6.1 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 6.3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.2 - 5.8 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '7 - 8 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 9 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3.2 - 3.5 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 6.5 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '6 - 7 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4.5 - 7 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4.99 - 5 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "17 Jul' 21"]

In [192]:
len(CTC_provided)

120

In [184]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=locations_list
jobs

,title,company,location
0,\nAssociate UI/UX Designer,RavGins International Private Limited (Wobb.ai),Remote
1,\nBusiness Development Associate (Sales),Global Sun,Remote
2,\nReceptionist And Billing Manager,Touchstone Partners,Mumbai
3,\nRecruiter,Radish Consultants Private Limited,"Secunderabad, Hyderabad"
4,\nNode.js Backend Developer (AWS/GCP/API),Labellerr By Tensor Matics Private Limited,"Chandigarh, Mohali"
5,\nBusiness Development Executive,UFaber Edutech,Remote
6,\nSoftware Developer,Aptigenz Solutions Private Limited,Bangalore
7,\nManagement Trainee - Assistant Category Mana...,Noise,Gurgaon
8,\nAccount Executive - Field Sales,RoaDo,"Bangalore, Hyderabad"
9,\nSoftware Engineer,CrewKarma,Remote
10,\nAssociate Software Developer,IQGateway,Remote
11,\nSocial Media Strategist And Copywriter,Internshala,Gurgaon
12,\nLevel 1 Technical Support Engineer,Mithi Software Technologies Private Limited,Pune
13,\nAssociate Software Developer,White Blink,Remote
14,\nAccounting Assistant,Wono Inc,Remote
15,\nSoftware Engineer,Wono Inc,Remote
16,\nBusiness Development Manager,Wono Inc,Remote
17,\nBusiness Development Executive,Emertxe Information Technologies,Bangalore
18,\nProduct Developer - Mathematics,Open Door Education,Bangalore
19,\nSales Development Representative,Content Beta,Remote
20,\nFull Stack Engineer,Softway Solutions Private Limited,Remote
21,\nJunior ReactJS Developer,DeepThought Edutech Ventures Private Limited,Remote
22,\nMarketing Manager,Saltoro Coffee Roasters,"Delhi, Noida"
23,\nProduct Marketing Associate,WebMOBI,Remote
24,\nAdministration Associate,Global Sun,Remote
25,\nAssociate Software Developer,Medico Healthcare Services & Technologies,Hyderabad
26,\nProject Coordinator,Edupixels,Remote
27,\nWeb Developer,Manufac Analytics Private Limited,"Gurgaon, Pune"
28,\nSoftware Engineer Trainee,Swabhav Techlabs,Mumbai
29,\nBusiness Development Specialist (Sales & Mar...,Claraeon Learning Private Limited,Hyderabad
30,\nBusiness Development Executive,Picostone,Mumbai
31,\nAssociate Front End Developer,AIMonk Labs Technology Limited,Bangalore
32,\nCorporate Sales Executive,369 Zoss Waters,Remote
33,\nAssociate Software Developer (Full-Stack - R...,SleekSky LLC,Ahmedabad
34,\nCustomer Relationship Specialist,InPhase Power Technologies,Bangalore
35,\nAssociate Editor Engagement,Cactus Communications Private Limited,Remote
36,\nManagement Consultant Associate,StrategyCo.Global,Remote
37,\nWeb Analytics Developer,DataVinci Private Limited,Remote
38,\nJunior Social Media Marketing Manager,The Test Tribe,"Navi Mumbai, Mumbai"
39,\nJunior Social Media Marketing Associate,Glu Studios,Delhi